<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <add key="dbMercurySQL" value="packet size=4096;Connection Timeout=150;Server=xdsqlx01;Trust Server Certificate=True;Database=dbMercuryDev;User Id=MercurySQLUser;Password=Gc+,V[.EH3lU"/>
  </appSettings>
</configuration>