<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    
    <add key="symbolDataSQL" value="packet size=4096;Connection Timeout=150;Server=xdsqlx01;Database=dbMercury;User Id=MercurySQLUser;Password=Gc+,V[.EH3lU"/>
    <add key="marketDataSQL" value="packet size=4096;Connection Timeout=150;Server=prodsqlx02;Database=dbMercury;User Id=MercurySQLUser;Password=Gc+,V[.EH3lU"/>
    <add key="plDataSQL" value="packet size=4096;Connection Timeout=150;Server=xdsqlx01;Database=dbMercury;User Id=MercurySQLUser;Password=Gc+,V[.EH3lU"/>
    <add key="mercurySQL" value="packet size=4096;Connection Timeout=150;Server=xdsqlx01;Database=dbMercury;User Id=MercurySQLUser;Password=Gc+,V[.EH3lU"/>
    
  </appSettings>

</configuration>